<h2>All Cars</h2>

<ol>
<% @cars.each do |car| %>
  <li>
    <ul>
      <li><strong>Manufacturer:</strong> <%= car.manufacturer.name %></li>
      <li><strong>Color:</strong> <%= car.color %></li>
      <li><strong>Year:</strong> <%= car.year %></li>
      <li><strong>Mileage:</strong> <%= car.mileage %></li>
    </ul>
  </li>
  <br>
<% end %>
</ol>
